body{
    background:black;
}
h1{
    color:white;
    text-align:center;
    font:35px Times New Roman;
    margin-top:25px;
    margin-bottom:15px;
}
h2{
    text-align:center;
}
figcaption{
    font:15px Monospace;
    color:white;
    background-color:black;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    border:4px ridge white;
    width:400px;
    height:auto;
}
img{
    width:400px;
    height:490px;
    margin-left:auto;
    margin-right:auto;
    align-items: center;
    display:block;
    border: 3px double white;
}
li{
    display:inline;
    color:white;
    font:20px Monospace;
  }
#about{
    font:40px Monospace;
}
#aboutText{
    font:20px Monospace;
    color:white; 
    text-align: center;
    word-spacing:-3px;
}
#aboutDiv{
    border: 2px solid white;
    margin-left:auto;
    margin-right:auto;
    width:700px;
}
.hList{
    display:block;
  }
.pages{
    border:1px double white;
    height:20px;
}
.swiper{
    background-color:rgb(0, 0, 0);
    width:600px;
    height:500px;
    border:4px double black;
    margin-left:auto;
    margin-right:auto;
    box-shadow: 10px 5px 5px black;
}
.navbar ul {
    list-style-type: none;
    margin: -10px;
    padding: 15px;
    background:black;
    position:sticky;
  }
::-webkit-scrollbar{
    display:none;
}
.swiper .swiper-button-prev
, .swiper .swiper-button-next{
        color: rgb(255, 255, 255);
}
.swiper .swiper-pagination-bullet-active{
    background:rgb(0, 0, 0);
}
a{
  color: #ffffff;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
a:visited{
    color:inherit;
}
a:hover{
    box-shadow: inset 110px 0 0 0 #73867a;
    color: white;
}